{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}青娱乐视频-在线视频{% endblock %}

{% block pagedown %}
<div class="text-center">
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint,sortby=sortby,rever=rever) }}
</div>
{% endif %}
</div>
{% endblock %}

{% block content %}

<br>

<div class="text-center">
<div class="title">
{%if sortby=='id'%}
  <h3> {%if rever=='desc'%}<a href="/online{{vip}}?sortby=id&rever=asc">最新发布</a>{%else%}<a href="/online{{vip}}?sortby=id&rever=asc">最早发布</a>{%endif%}</h3>
  <div class="more"><a href="/online{{vip}}?sortby=hot&rever=desc">热门浏览</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
{%else%}
  <h3> {%if rever=='desc'%}<a href="/online{{vip}}?sortby=hot&rever=asc">热门浏览</a>{%else%}<a href="/online{{vip}}?sortby=hot&rever=asc">冷门视频</a>{%endif%}</h3>
  <div class="more"><a href="/online{{vip}}?sortby=id&rever=desc">最新发布</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
{%endif%}
</div>
<div class="row">
{% for post in posts %}
<article class="excerpt">
        <p class="image-container" >
           <a class="focus" href="/online/play?vid={{post.encode}}" target="_blank"><img src="{%if post.flag=='hdr'%}{{post.picture}}{%else%}{{post.zhan}}/{{post.picture}}{%endif%}"  class="thumb"></a>
        </p>
        <header>
           <a class="cat" href="/online/play?vid={{post.encode}}" target="_blank">{{post.title[:5]|safe}}<i></i></a>
           <h2><a href="/online/play?vid={{post.encode}}" target="_blank">{{post.title|safe}}</a></h2>
        </header>
        <p class="meta"><span class="pv"><i class="fa fa-eye"></i>阅读({{post.viewtimes}})</span><a class="pc" href="/online/play?vid={{post.encode}}""><i class="fa fa-comments-o"></i>评论(<span class="ds-thread-count" data-thread-key="1109" data-count-type="comments">{{post.comments.count()}}</span>)</a><span class="pv ding"><i class="fa fa-heart"></i>{{post.ilike}}</span></p>
  </article>
{% endfor %}
</div>
</div>
<input type="hidden" id="mp4" value="">
<label>分享本页视频</label>
<textarea rows=5 class="form-control" style="resize:none;">
{%- for post in posts -%}
{{post.title|safe}}：http://www.video4sex.com/online/play?vid={{post.encode}}&#13;&#10;
{%- endfor -%}
</textarea>
{% endblock %}


{% block scripts %}
{%- endblock scripts %}
